<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-bs-core="modern">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="NOINDEX, NOFOLLOW">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-precompossed.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" sizes="any" href="/assets/favicon.ico">
  {{> head/title}}
  {{#stylesheets}}
  {{> head/stylesheet}}
  {{/stylesheets}}
</head>

<body class="subpixel-antialiased">
  <main class="container"> {{{body}}} </main>
  {{#scripts}}
  {{> script .}}
  {{/scripts}}
</body>

</html>